DJANGO_SECRET_KEY=changeme-only-for-dev
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=osprey
POSTGRES_USER=osprey
POSTGRES_PASSWORD=osprey
DATABASE_URL=postgres://osprey:osprey@db:5432/osprey
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000
ORCID_USE_SANDBOX=1
ORCID_CLIENT_ID=
ORCID_CLIENT_SECRET=
